#banner {
    width: 100%;
    height: 20vh;
    object-fit: cover;
    opacity: 75%;
}
#bannerContainer {
    text-align: center;
    position: relative;
}
#title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #222222;
    text-shadow: #ededed 1px 0 10px;
    font-size: 5vh;
}
#contentContainer {
    padding: 8vh 10vw;
}
.blob {
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
    margin-right: 5vw;
}
.heading {
    font-size: 1.6rem;
    color: var(--primary);
}
.section {
    display: flex;
    align-items: center;
    margin-bottom: 10vh;
}