#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0;
}
#lower {
    flex: 1;
    width: 100vw;
    display: flex;
    overflow: hidden;
}
#navbarItem {
    margin: 2vh 0;
    .subContainer {
        height: 0;
        overflow: hidden;
    }
}
.mainLink {
    font-weight: 500;
    font-size: 1.2rem;
    width: 100%;
    display: block;
}
#navbarItem:hover,#navbarItem:has(.linkOpen) {
    cursor: pointer;
    .subContainer {
        height: auto;
    }
}
.subContainer {
    border-left: 1px solid #999999;
    margin-left: 0.5vw;
    padding-left: 1vw;
}
#navbar {
    padding: 2vh 2vw;
    border-right: 1px #999999 solid;
    overflow-y: scroll;
}
.subNav {
    font-weight: 300;
    font-size: 1rem;
    width: 100%;
    display: block;
    padding: 0.5vh 0;
}
.subNav:hover {
    color: var(--primary);
}
#content {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#contentTab {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#footerContainer {
    background: var(--secondary);
    display: flex;
    padding: 2vh 0;
    width: 100%;
    justify-content: space-evenly;
    p {
        margin: 0;
    }
}
.linkOpen {
    color: var(--primary);
}
#tabContainer {
    display: flex;
    width: 100%;
    margin: 1vh 0;
    border-bottom: 1px #e3e3e3 solid;
    overflow-x: auto;
}
.tabItemContainer {
    padding: 1vh 2vw;
    font-size: 1.1rem;
    font-weight: 500;
}
.selector {
    height: 4px;
    width: 100%;
    background: var(--primary);
    margin-top: 0.7vh;
    border-radius: 0.7vh;
}
#headerContainer {
    display: flex;
    height: 9vh;
    background: var(--secondary);
    width: 96vw;
    align-items: center;
    justify-content: space-between;
    padding: 1vh 2vw;
}
@media (max-aspect-ratio: 1) {
    #headerContainer {
        padding: 1vh 5vw;
        width: 90vw;
    }
}
#icon {
    font-size: 2rem;
    font-weight: 400;
}
#icon:hover {
    cursor: pointer;
}
.link {
    color: var(--text);
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
    margin: 0 1vw;
}
#burgerMenu {
    height: 2rem;
    width: 2rem;
    margin-left: 2vw;
}
#burgerMenu:hover {
    cursor: pointer;
}
#mobileNavContainer {
    background: #2d3332;
    color: var(--background);
    height: 100%;
}
#mobileLinksContainer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    border-bottom: 1px #5b6867 solid;
    p {
        color: #98a6a4;
        font-size: 1.1rem;
        font-weight: 600;
    }
}
#mainLinkContainer {
    display: flex;
}
#mobileNav {
    padding: 2vh 4vw;
    border-right: 1px #999999 solid;
    overflow-y: scroll;
    height: 100%;
    #navbarItem {
        .mainLink {
            color: #d0d3d2;
        }
        .subNav {
            color: #9b9f9f;
            margin-left: 2vw;
        }
    }
}
.downArrow {
    height: 2rem;
}
#linkContainer {
    display: flex;
    align-items: center;
}